<footer class="app-footer bg-dark p-3">
    <div class="container">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="{{ "/current/" | absURL }}">
                    Currently v{{ .Site.Params.Versions.Currently }}
                </a>
            </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ "/dev/" | absURL }}">
                                {{ .Site.Params.Versions.Dev }}
                            </a>
                        </li>
            <li class="nav-item">
                <a class="nav-link"
                    href="https://github.com/{{ .Site.Params.organization }}/{{ .Site.Params.project }}/blob/master/LICENSE.md">
                    Code license MIT
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://creativecommons.org/licenses/by/3.0/">
                    Docs license CC BY 3.0
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://github.com/{{ .Site.Params.organization }}/{{ .Site.Params.project }}">
                    GitHub
                </a>
            </li>
        </ul>
    </div>
</footer>
