{{ define "title" }}{{ .Page.Title }} &ndash; {{ site.Title }}{{ end }}
{{ define "main" }}
<main class="app-content">
    <article class="container">
        <header>
            <h1>{{ .Page.Title }}</h1>
        </header>
        <div class="highlight">
            <pre class="chroma"><code class="language-bash" data-lang="bash">$ composer require {{ site.Params.Organization }}/{{ site.Params.Project }}</code></pre>
        </div>

        {{ .Content }}
        <div>
            <a href="/current/" class="btn btn-lg btn-outline-primary my-3">Get started</a>
            <p class="text-muted mb-0">
                Currently v{{ site.Params.Versions.Current }}
            </p>
        </div>
    </article>
</main>
{{ end }}
