{{ define "title" }}{{ .Page.Title }} &ndash; {{ .Site.Title }}{{ end }}
{{ define "main" }}
<main class="app-content">
    <article class="container">
        <header>
            <h1>{{ .Page.Title }}</h1>
        </header>
        {{ .Content }}
        <div>
            <a href="/current/" class="btn btn-lg btn-outline-primary">Get started</a>
            <p class="text-muted mb-0">
                Currently v{{ .Site.Params.Versions.Current }}
            </p>
        </div>
    </article>
</main>
{{ end }}
